.debug {
  border: 1.5px solid red;
}

html {
  box-sizing: border-box;
}

body {
  background: #5d879d;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

.centered {
  text-align: center;
}

.card {
  background: #fff;
  margin: 1rem;
  padding: .5rem;
  width: 27rem;
  height: 12rem;
  border-radius: .25rem;
  box-shadow: 0 0 .5rem #334;
}


.splash-container {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
}
  .splash a {
    letter-spacing: 0.05em;
    opacity: 0.8;
  }

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.vert-center {
  display: flex;
  align-items: center;
}

.ribbon {
  background: #333;
  color: #aaa;
}

.ribbon,
.white-ribbon {
  display: flex;
  align-items: center;
  padding: 3rem .5rem;
  text-align: justify;
}

.image-box {
  display: flex;
  width: 40rem;
  justify-content: center;
}

.image {
  max-width: 18rem;
  overflow: hidden;
}

.description-box {
  padding: 0 1em;
}

.about {
  width: 100%;
  min-height: 12rem;
  background: #333;
  margin: 0;
}

.profile-photo {
  border-radius: 5%;
}
