header {
  width: 75%;
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: grey;
  background-image: url("paper_seamless.jpg");
}

main {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

h1 {
  margin: 1em auto;
  padding: 0;
}

h2 {
  margin: 0 auto;
}

.cheatcard {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: white;
  width: 75%;
  padding: 1em;
}
