html {
  box-sizing: border-box;
}

body {
  background: #0092e0;
  background-image: url("img/cardboard-flat.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  background: #fff;
  margin: 1rem;
  padding: .5rem;
  width: 27rem;
  height: 12rem;
  border-radius: .25rem;
  box-shadow: 0 0 .5rem #334;
}
