/**********************
Base styles
**********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  transition: color, 0.3s;
}




/**********************
Header
**********************/
header {
  background: #383838;
  color: white;
  text-align: center;
  display: block;
  overflow: hidden;  /*replace with clearfix*/
  font-family: Helvetica, Calibri, sans-serif
}

header h1 {
  margin: 0;
  font-weight: 200;
  font-size: 1.75em;
  /*letter-spacing: 1px;*/
  /*text-align: left;*/
}

header h2 {
  font-size: .75em;
  font-weight: 300;
  margin: 0;
  /*text-align: left;*/
  display: none;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #4298b5;
  text-decoration: none;

}

header a:active {
  color: #4298b5;
  text-decoration: none;
}

#logo_name {
  /*display: inline-block;*/
  /*float: left;*/
  margin-top: .5em;
  margin-left: 1em;
  height: 2.5em;
}

nav{
  font-weight: 200;
  margin: 0;
}

header ul {
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
  /*background-color: green;*/
  /*float: right;*/
  /*position: absolute;*/
  margin: 0;
  /*margin-top: 1.75em;*/
}

header li {
  display: inline-block;
  vertical-align: baseline;
  width: auto;
  padding: 0 .5em;
  margin: 0 1em;

  /*border-bottom: 1px solid white;*/
}

header li.current {
  border-bottom: .2em solid white;
}

header li.current:hover {
  border-bottom: .2em solid #4298b5;
}


/**********************
Blog Index Body
**********************/
main {
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

main a:link {
  color: white;
  text-decoration: none;
}

main a:visited {
  color: white;
  text-decoration: none;
}

main a:hover {
  color: #383838;
  text-decoration: none;
  /*opacity: 1.0;*/
}

main a:active {
  color: orangered;
  text-decoration: none;
  /*opacity: 1.0;*/
}

main ul {
  list-style: none;
  margin: 1em auto;
  padding: 0;
  border: 0;
  text-align: center;
}

#blog_box {
  margin: 1em auto;
  width: 88%;
  overflow: auto;
  font-family: Helvetica, sans-serif;
}

#blog_box li {
  height:14em;
  width: 95%;
  /*max-width: 27em;*/
  padding: 0 .5em;
  border-radius: 7px;
  margin: 0 auto .5em auto;
  display: inline-block;
  text-align: left;
}



main a:active {
  color: orangered;
  text-decoration: none;
}

#blog_box h1 {
  font-weight: 200;
  margin-bottom: 0;
}

#blog_box h2 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}

#blog_box h3 {
  font-weight: 200;
  margin-top: .5em;
}


main li.left{
  /*float: left;
  margin: .5em .5em .5em 2em;*/
}

main li.right {
  /*float: right;
  margin: .5em 2em .5em .5em;*/
}


/*#link_box {
  display: none;*/
  /*list-style: none;
  float: right;
  border-radius: 7px;
  width: 13%;
  background-color: #333;
  margin: 2em 1em 1em 0;*/
/*}*/

/*#link_box li {
  text-align: left;
  margin: .25em .3em;
}*/



/**********************
Blog thumbnails
**********************/
.item {
  opacity: .85;
}

.item:hover {
  opacity: 1.0;
}

#w1-t {
  background-color: #dd5f32;
  /*opacity: 0.8;*/
}

/*#w1-t:hover {
  opacity: 1.0;
}*/




#w1-c {
  background-color: #AA5F39;
}

#w2-t {
  background-color: #92b06a;
}

#w2-blank {
  background-color: #b8ae9c;
}

#w3-t {
  background-color: #e19d29;
}

#w3-c {
  background-color: #4298b5;
}

/*****************************************
******************************************
Blog entries
******************************************
*****************************************/
main .blog-entry {
  background-color: #B3D0EF;
  width: 88%;
  margin: 1em auto;
  border-radius: 7px;
  padding: 1em;
}

.blog-entry h1 {
  font-weight: 200;
  color: #333;
  margin-bottom: 0;
}

.blog-entry h4 {
  font-weight: 200;
  color: #333;
  margin: 0;
}




/*****************************************
******************************************
About Body
******************************************
*****************************************/
#jumbotron {
  min-height: 35em;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  /*border: 1px dashed blue;*/
}

#about_box {
  background-color: #4298b5;
  /*border-radius: 7px;*/
  opacity: .9;
  width: 100%;
  /*float: left;*/
  margin-top: 1.5em;
  padding: 1.75em 4%;
  overflow: auto;
}

#test {
  width: 100%;
  min-height: 15em;
  background-color: #D4AA6A;
  margin-top: 2em;
}

#about_box img {
  float: left;
  margin-right: .5em;
  max-width: 20%;
  min-width: 100px;
  border-radius: 7px;
  color: #383838;
}

#about_box h1 {
  font-weight: 200;
  color: #222;
  margin-top: .0;
  margin-bottom: 0;
}

#about_box p {
  margin-top: .5em;
  color: #111;
}

#link_box {
  background-color: #383838;
  border-radius: 7px;
  width: 15%;
  min-height: 9em;
  float: right;
  margin-top: 1.5em;
  margin-left: 1.5em;
  padding-left: 1em;
}

#link_box ul {
  text-align: left;
  margin: 1.6em auto;
}

#link_box a:hover {
  color: #4298b5;
  text-decoration: none;

}

#link_box a:active {
  color: #4298b5;
  text-decoration: none;
}



/**********************
Media queries
**********************/
/*Two column layout*/
@media only screen and (min-width: 600px) {
  #logo_name {
    float: left;
    text-align: left;
    margin-left: 3em;
  }

  #logo_name h2 {
    display: inline-block;
    position: relative;
    bottom: .33em;
  }

  nav {
    float: right;
  }

  header ul {
    margin-top: 2.25em;
    margin-right: 2em;
  }

  #blog_box li {
    width: 49.3%;
    height: 18em;
  }

  main li.left{
    float: left;
    margin: .5em .5em .5em .5em;
  }

  main li.right {
    float: right;
    margin: .5em .5em .5em .5em;
  }

}

























/* Main Primary color green*/
/*.color-primary-0 { color: #267158 }
.color-primary-1 { color: #71AA97 }
.color-primary-2 { color: #478D76 }
.color-primary-3 { color: #0E553E }
.color-primary-4 { color: #003926 }*/

/* Main Secondary color (1) blue*/
/*.color-secondary-1-0 { color: #2B4C6F }
.color-secondary-1-1 { color: #738CA6 }
.color-secondary-1-2 { color: #4A6A8A }
.color-secondary-1-3 { color: #133253 }
.color-secondary-1-4 { color: #041D37 }*/

/* Main Secondary color (2) yellow*/
/*.color-secondary-2-0 { color: #AA7D39 }
.color-secondary-2-1 { color: #FFDDAA }
.color-secondary-2-2 { color: #D4AA6A }
.color-secondary-2-3 { color: #805515 }
.color-secondary-2-4 { color: #553300 }*/

/* Main Complement color orange*/
/*.color-complement-0 { color: #AA5F39 }
.color-complement-1 { color: #FFC7AA }
.color-complement-2 { color: #D48E6A }
.color-complement-3 { color: #803915 }
.color-complement-4 { color: #551D00 }*/

/*
TODO
Add block_quote class to spans, to allow for creating blocks of code in blog entries
*/





/*

*/
