/**********************
Base styles
**********************/
/** {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  transition: color, 0.3s;
}

html {
  background-image: url(../imgs/damask.png), url(../imgs/paper.jpg);
  background-color: #f9f9f9;
}

footer {
  font-size: .65em;
}


/*******************************************
********************************************
Header
********************************************
*******************************************/

header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: baseline;
  align-content: baseline;
  background: #383838;
  color: #f9f9f9;
  text-align: center;
  box-shadow: .1em .25em .5em #666;
}


header h1 {
  margin: .25em 0 0 0;
  font-weight: 400;
  font-size: 1.75em;
}

header h2 {
  font-size: .75em;
  font-weight: 300;
  margin: 0;
  display: none;
}

header a:link {
  color: white;
  text-decoration: none;
}

header a:visited {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #4298b5;
  text-decoration: none;

}

header a:active {
  color: #4298b5;
  text-decoration: none;
}

#logo_name {
  margin-top: .5em;
  /*margin-left: 1em;*/
  height: 2.5em;
}

nav{
  font-weight: 200;
  margin: 0;
  position: relative;
  right: 1.5em;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav li {
  display: inline-block;
  font-size: .9em;
  padding: 0 .5em;
  margin: 0 1em;
}

nav li.current {
  border-bottom: .2em solid white;
}

nav li.current:hover {
  border-bottom: .2em solid #4298b5;
}


/*****************************************
******************************************
Main
******************************************
*****************************************/
/*main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/



/*****************************************
******************************************
About Page
******************************************
*****************************************/
main {
  /*min-height: 35em;*/
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

}

#about_box {
  background-color: rgba(66,152,181,.9);
  width: 99%;
  margin: 4em 0;
  padding: 0;
  border-radius: 7px;
  box-shadow: 1px .25em .5em #888;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

#about_box h1 {
  font-weight: 200;
  color: #222;
  margin-left: 3%;
  margin-bottom: .25em;
}

#about_box .p {
  margin: 1.5em 1.5em;
  font-weight: 300;
  color: #111;
}

#link_box {
  background-color: #383838;
  border-radius: 7px;
  min-width: 6em;
  height: 10em;
  margin: .5em 1em;
  display: none;
  box-shadow: 1px .2em .2em #245;
}

#link_box ul {
  /*text-align: left;*/
  margin: 1em auto;
  /*display: inline-block;*/
  position: relative;
  right: 1em;
  list-style: none;
}

#link_box li {
  /*text-align: left;*/
}

#link_box a:hover {
  color: #4298b5;
  text-decoration: none;

}

#link_box a:active {
  color: #4298b5;
  text-decoration: none;
}

#about_footer {
  margin: 1.75em;
}

/********************************************
*********************************************
Blog Index Body
*********************************************
********************************************/

#blog_box {
  margin: 1em auto;
  width: 88%;
  overflow: auto;
  font-family: Helvetica, sans-serif;
  display:-webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#blog_box .item {
  height:14em;
  width: 95%;
  padding: .25em 1em;
  border-radius: 7px;
  margin: 0 auto .5em auto;
  display: block;
  text-align: left;
  box-shadow: 1px .25em .5em #888;
  text-shadow: 1px 1px 2px #383838;
}

main a:link {
  color: white;
  text-decoration: none;
}

main a:visited {
  color: white;
  text-decoration: none;
}

main a:hover {
  color: #383838;
  text-decoration: none;
  text-shadow: none;
}

main a:active {
  color: orangered;
  text-decoration: none;
}

#blog_box ul {
  list-style: none;
  margin: 1em;
  padding: 0;
  border: 0;
  /*text-align: center;*/
}

#blog_box li {
  display: inline-block;
}

#blog_box h1 {
  font-weight: 200;
  margin-bottom: 0;
}

#blog_box h2 {
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}

#blog_box h3 {
  font-weight: 200;
  margin-top: .5em;
}


/**********************
Blog thumbnails
**********************/
.item {
  opacity: .85;
}

.item:hover {
  opacity: 1.0;
  /*text-shadow: none;*/
}

#w1-t {
  background-color: #dd5f32;
}

#w1-c {
  background-color: #AA5F39;
}

#w2-t {
  background-color: #92b06a;
}

#w2-blank {
  background-color: #b8ae9c;
}

#w3-t {
  background-color: #e19d29;
}

#w3-c {
  background-color: #4298b5;
}

#w4-t {
  background-color: #257059;
}

#w4-c {
  background-color: #AA6039;
}

#w5-t {
  background-color: #AA5F39;
}

#w5-c {
  background-color: #dd5f32;
}

/*****************************************
******************************************
Blog entries
******************************************
*****************************************/
main .blog-entry {
  background-color: #B3D0EF;
  width: 88%;
  margin: 1em auto;
  border-radius: 7px;
  padding: 1em;
}

.blog-entry h1 {
  font-weight: 200;
  color: #333;
  margin-bottom: 0;
}

.blog-entry h4 {
  font-weight: 200;
  color: #333;
  margin: 0;
}




/********************************************
*********************************************
Media queries
*********************************************
********************************************/
@media only screen and (min-width: 600px) {

  /*****************
  Header
  *****************/
  header {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
  }


  #logo_name {
    /*float: left;*/
    text-align: left;
    margin: 0 1.5em;
  }

  #logo_name h2 {
    display: inline-block;
    position: relative;
    bottom: .75em;
  }

  nav {
    /*float: right;*/
    display: static;
  }

  header ul {
    margin-top: 2.25em;
    /*margin-right: 1em;*/
  }

  header li {
    margin: 0 1em;
    padding: 0;
  }

  /*****************
  Blog
  *****************/
  #blog_box {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  #blog_box .item {
    width: 13em;
    height: 14em;
  }

  #blog_box h1 {
    font-size: 1.5em
  }

  #blog_box h2 {
    font-size: 1.25em
  }

  #blog_box h3 {
    font-size: 1em
  }



  /*****************
  About
  *****************/
  #about_box {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    /*-webkit-flex-direction: row;
    flex-direction: row;*/
    /*max-width: 44em;*/
  }

  #about_box .p {
    flex: 3;
  }

  #link_box {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }



}
@media only screen and (min-width: 700px) {
  #about_box {
    padding: 0 3%;
  }
}

@media only screen and (min-width: 900px) {
  #about_box {
    max-width: 52em;
    padding: 0 3%;
  }
}

























/* Main Primary color green*/
/*.color-primary-0 { color: #267158 }
.color-primary-1 { color: #71AA97 }
.color-primary-2 { color: #478D76 }
.color-primary-3 { color: #0E553E }
.color-primary-4 { color: #003926 }*/

/* Main Secondary color (1) blue*/
/*.color-secondary-1-0 { color: #2B4C6F }
.color-secondary-1-1 { color: #738CA6 }
.color-secondary-1-2 { color: #4A6A8A }
.color-secondary-1-3 { color: #133253 }
.color-secondary-1-4 { color: #041D37 }*/

/* Main Secondary color (2) yellow*/
/*.color-secondary-2-0 { color: #AA7D39 }
.color-secondary-2-1 { color: #FFDDAA }
.color-secondary-2-2 { color: #D4AA6A }
.color-secondary-2-3 { color: #805515 }
.color-secondary-2-4 { color: #553300 }*/

/* Main Complement color orange*/
/*.color-complement-0 { color: #AA5F39 }
.color-complement-1 { color: #FFC7AA }
.color-complement-2 { color: #D48E6A }
.color-complement-3 { color: #803915 }
.color-complement-4 { color: #551D00 }*/

/*
TODO
Add block_quote class to spans, to allow for creating blocks of code in blog entries
*/





/*

*/
