/*********************
Base Style
*********************/
html {
  font-family: Geneva, Tahoma, Calibri, Arial, sans-serif;
}

img {
  float: left;
  margin-right: .3em;
}




/*********************
Header
*********************/
header {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 3em;
  width: 100%;
  background-color: #383838;
  border: 2px solid #000;
  overflow: hidden;
  color: #f8f8f8
}

header a {
  color: #f8f8f8;
  text-decoration: none;
}

header a:visited {
  color: #f8f8f8;
  text-decoration: none;
}

header a:hover {
  color: #f8f8f8;
  text-decoration: underline;
}

#logo {
  font-family: Futura, Helvetica, Tahoma, Arial, sans-serif;
  font-size: 1.6em;
  width: 50%;
  margin: .5em auto 0 auto;
  text-align: center;
}

#nav {
  font-size: .75em;
  margin: .15em auto 0 auto;
  width: 15em;

}

#nav li {
  display: inline;
  margin: 0 .25em;
}

#nav ul {
  list-style-type: none;
  text-align: left;
  margin: 0 0 0 -2em;
}



/*********************
Body
*********************/
body {
  margin-top: 5em;
  background-color: #f8f8f8;
}

#body_container {
  width: 100%;
  min-height: 35em;
}

#jumbotron {
  width: 90%;
  min-height: 12em;
  background-color: #595241;
  margin: 0 auto;
  padding-top: 1em;
  border-radius: 5px;
  overflow: hidden;
}

#jumbotron .item {
  background-color: #B8AE9C;
  border-radius: 5px;
  color: #383838;
}

#blog_box {
  margin: .5em auto;
  width: 80%;
  padding: .5em 1em;
}

#link_box {
  visibility: hidden;
  width: 9em;
}

#jumbotron ul {
  /* list-style-type: none; */
}

#jumbotron a {
  color: #444;
  text-decoration: none;
}

#jumbotron a:visited {
  color: #444;
  text-decoration: none;
}

#jumbotron a:hover {
  color: #444;
  text-decoration: underline;
}

/*********************
Footer
*********************/
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 2em;
  border-top: 1px solid #444;
  font-size: .65em;
}







/*********************
Media Queries
*********************/
@media only screen and (min-width: 640px) {
  /***********
  Header
  ************/
  header {
    position: fixed;
  }

  #logo {
    float: left;
    margin: .25em 0 0 1.5em;
    text-align: left;
  }

  #nav {
    float: right;
    margin: 2.5em 0 0 0;
  }
}

@media only screen and (min-width: 700px) {
  /********************
  Body
  *********************/
  #jumbotron {

  }

  #blog_box {
    width: 85%;

  }

  #link_box {
    visibility: visible;
    float: right;
    margin-right: 1em;
  }
}

@media only screen and (min-width: 850px) {
  #blog_box {
    width: 90%;
  }
}
