.debug {
  border: 1px solid darkred;
}

body {
  margin: 0;
  background: #5d879d;
}

main {
  font-family: 'Roboto', sans-serif;
}


.splash-container {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-head {
  display: block;
  text-align: center;
  border-radius: .25em;
  padding: 1em 3em;
  border: 3px solid #fafafa;
  color: #fafafa;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: -.02em;
}

.splash-subhead {
  text-align: center;
  color: white;
  opacity: 0.8;
}

.splash-subhead a {
    color: #fafafa;
    text-decoration: none;
}
  .splash-subhead a:hover {
    color: #fafafa;
    text-decoration: underline;
  }

.content-drawer {
    position: absolute;
    top: 90%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: #fafafa;
    box-shadow: 0px -2px 10px 0px rgba(106, 105, 105, 0.49);
}

.arrow-ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #fafafa;
  height: 5rem;
}

.placeholder {
  min-height: 60rem;
  border: 1px solid darkgray;
}

.img {
  max-width: 15rem;
  overflow: hidden;
}

.about-img {
  max-width: 10rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.ribbon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 2em;
  min-height: 8rem;
  overflow: auto;
}

.ribbon a {
  color: inherit;
}

.ribbon-dark {
  background: #373737;
  color: #d9d9d9;
}

.ribbon-light {
  background: #fafafa;
  flex-direction: row-reverse;
}

.ribbon-dark .project-info {
  max-width: 36rem;
}

.ribbon-light .project-info {
  max-width: 36rem;
}

.about-ribbon {
  flex-direction: column;
  text-align: center;
  padding-bottom: .5em;
  color: #fafafa;
  background: #222;
}

.project-info h3 {
  text-align: center;
  font-weight: normal;
}

.project-info p {
  text-align: center;
}

.project-info {
  text-align: justify;
}

img {
  width: 100%;
}

.project-link {
  margin: 0 1em;
}
