html {
  font-family: "Courier New", Courier, monospace;
  background-image: url('material06.jpg');
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  margin: .25em;
  padding: 0;
  font-family: 'Righteous', "Courier New", Courier, monospace;
  font-size: 2.75em;
  color: hsl(10,70%,20%);
}
h2 {
  margin: 0;
  padding: 0;
  font-family: 'Righteous', "Courier New", Courier, monospace;
}

main {
  display: flex;
  flex-direction: column;
}

#main_container {
  width: 45.5em;
  margin: 0 auto;
}

#title_space {
  display: flex;
  justify-content: center;
}

#display_console {
  display: flex;
  flex-direction: column;
  height: 13em;
  background: dimgrey;
  border-radius: 7px;
  font-size: 1.15em;
  color: chartreuse;
  width: 75%;
  margin: 1.5em auto;
  padding-top: 1em;
  padding-bottom: .5em;
  text-align: center;
  align-items: center;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

#display {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
  text-align: left;
}

#display_lower {
  min-height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
  text-align: center;
}

#control_panel {
  width: 65%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  /*background-color: grey;*/
  margin: 1em auto;
  font-family: 'Righteous', Helvetica, sans-serif;
  background-image: url(redfabric.jpg);
  padding: 0;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  /*background-color: darkgrey;*/
  opacity: 50%;
  margin: .5em;
}

#controls_left {
  flex-direction: column;
  flex-grow: 6;
}

#controls_right {
  flex-grow: 1;
  /*background: gray;*/
  min-width: 9em;
}

#controls_top {
  width: 100%;
}

#controls_bottom {
  width: 100%;
}



.button {
  width: 6em;
  height: 6em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: hsl(156,70%,49%);
  /*border: 2px solid #0b0b0b;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px #000;
  color: hsl(156,79%,15%)
}
.button_outer {
  width:6.5em;
  height: 6.5em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: hsl(156,70%,24%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7px #000;
  border: none;
}

.button.inactive {
  background: hsl(156,40%,49%);
  color: hsl(156,29%,68%);
  opacity: .8;
  pointer-events: none;
  cursor: default;
}

#button_punch {
  background: hsl(10,79%,53%);
  width: 8em;
  height: 8em;
  color: hsl(10,79%,15%);
}
#button_punch.inactive{
  background: hsl(10,40%,49%);
  color: hsl(10,29%,68%);
  opacity: .8;
  pointer-events: none;
  cursor: default;
}
#button_outer_punch {
  background: hsl(10,70%,24%);
  width:8.5em;
  height: 8.5em;
  margin: .5em auto;
}

a .button:active{
  background: hsl(156,70%,41%);
  box-shadow: inset 0 0 8px #000;
}
